.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 50px;
    background-color: #cdc1b5;
    width: 500px;
    height: 500px;
    
}

.board--content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-left: 8px solid #baaea0;
    border-top: 8px solid #baaea0;
}

.board--gameover {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-left: 8px solid #baaea0;
    border-top: 8px solid #baaea0;
    animation-duration: 2s;
    animation-name: gameover;
    filter: grayscale(80%);
    filter: blur(2px);
    cursor: not-allowed;
    /* filter: blur(5px); */
}

@keyframes gameover {
    from {
        /* filter: brightness(100%); */
        filter: grayscale(0%);
        filter: blur(0px);
    }

    to {
        /* filter: brightness(20%); */
        filter: grayscale(80%);
        filter: blur(2px);
    }
}

.gameover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    font-size: 22px;
    font-weight: 600;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    animation: fadein 5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.content {
    border-bottom: 8px solid #baaea0;
    border-right: 8px solid #baaea0;
    height: 115px;
}

.c2 {
    border-radius: 20px;
    background-color: #eee4da;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.c2>span {
    color: #747066;
    font-size: 40px;
}

#effectNew {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    animation: pulse 2s;  
}

#merged {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    animation: pulse 2s;  
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
        transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.c4 {
    border-radius: 20px;
    background-color: #ece0c8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.c4 > span {
    color: #776f66;
    font-size: 40px;
}

.c8 {
    border-radius: 20px;
    background-color: #f2b179;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.c8 > span {
    color: #f9f4f0;
    font-size: 40px;
}

.c16 {
    border-radius: 20px;
    background-color: #f59563;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.c16 > span {
    color: #f9f5f0;
    font-size: 40px;
}

.c32 {
    border-radius: 20px;
    background-color: #f57c5f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.c32 > span {
    color: #fff7f1;
    font-size: 40px;
}

.c64 {
    border-radius: 20px;
    background-color: #f65d3b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.c64 > span {
    color: #f9f8f6;
    font-size: 40px;
}

.c128 {
    border-radius: 20px;
    background-color: #edce71;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.c128 > span {
    color: #f9f7f3;
    font-size: 40px;
}

.c256 {
    border-radius: 20px;
    background-color: #edcc61;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.c256 > span {
    color: #f9f6f3;
    font-size: 40px;
}

.c512 {
    border-radius: 20px;
    background-color: #ecc850;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.c512 > span {
    color: #f9f5f0;
    font-size: 40px;
}

.c1024 {
    border-radius: 20px;
    background-color: #efcf6c;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.c1024 > span {
    color: #f9f5f0;
    font-size: 40px;
}

.c2048 {
    border-radius: 20px;
    background-color: #eec22e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.c2048 > span {
    color: #f9f5f0;
    font-size: 40px;
}

input {
    opacity: 0;
}

.score {
    position: absolute;
    left: 105%;
    width: 100px;
    background-color: #bbada0;
    color: #eee4da;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    font-weight: 600;
    gap: 5px;
}

.score > span {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.new-game {
    position: absolute;
    left: 105%;
    top: 30%;
    width: 100px;
    background-color: #8f7b64;
    color: #eee4da;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: transform .2s ease-in-out;
    cursor: pointer;
}

.new-game:hover {
    /* background-color: #bbada0; */
    transform: scale(1.05);
    
}