@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

header {
    background-color: #f3d748;
    height: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 50px;
    margin-left: 5px;
    margin-bottom: 5px;
}

span {
    font-size: 18px;
    font-weight: 600;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
}

.menu > div, .menu > a > div {
    padding: 12px;
    /* height: px; */
    /* background-color: ; */
    border-radius: 15px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    
}

.menu {
    margin-right: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu-trigger,
.menu-trigger span, .active span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}

.menu-trigger, .active {
  position: relative;
  width: 40px;
  height: 40px;
}

.menu-trigger span, .active span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 4px;
}

.menu-trigger span:nth-of-type(2) {
  top: 17px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 4px;
}

/* 2th bar 사라지고,  1st 3rd bar 회전하며 X  */

.active span:nth-of-type(1) {
  transform: translateY(0px) rotate(-45deg);
}

.active span:nth-of-type(2) {
  opacity: 0;
}

.active span:nth-of-type(3) {
  transform: translateY(0px) rotate(45deg);
}

.logo {
  margin-left: 20px;
  color: #4a452b;
}